#poll_detail_section {
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}


#content_section {
	position:relative;
	margin:0 auto;
	display:block;
	width:960px;
	padding-bottom:20px;
	
	}

a{ color:#33CCCC;}
a:hover{ color:#FFFFFF;};