{% extends "index.html" %}
{% load staticfiles %}

{% block extrahead %}


<link rel="stylesheet" type="text/css" href="{% static 'polls/poll_style.css' %}" />

{% endblock %}

{% block main_section %}
<div id="poll_detail_section">

{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %} Poll {{forloop.counter}}
        <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
        <br/>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} 

</div>
{% endblock %}

