{% extends "gutter.html" %}


{% load static %}


{% block top_bar_section %}
  <script type="text/javascript">
  $(document).ready(function(){
    $('#newsAnker').click(function(){
      $('#newsAnker').addClass('active');
      alert({{request.get_full_path}});
    })

  });
    
  
  </script>

<div class="wrapper col1">
  <div id="topbar" class="clear">
    <ul id="topnav">
      
      <li {%block news_li_section%}{%endblock%}><a  href="{% url news %}" >News</a></li>
      <li {%block stunt_profile_li_section%}{%endblock%}><a href="{% url accounts:stunt_profile %}">Profile</a></li>
      <li {%block polls_li_section%}{%endblock%}><a href="{% url polls:index %}">Polls</a></li>
    </ul>
    <form action="#" method="post" id="search">
      <fieldset>
        <legend>Site Search</legend>
        <input type="text" placeholder="Search Our Website&hellip;" />
        <input type="image" id="go" src="{% static "images/search.gif" %}" alt="Search" %}" %}" />
      </fieldset>
    </form>
  </div>
  <br clear="all" style="margin:0; line-height:0; padding:0;"/>
</div>
{% endblock %}

{% block content %}
<div class="wrapper col1" id="slider_box">
  <div class="slider">
        <div id="coin-slider">
        <a href="#"><img src="{% static "images/slide1.jpg" %}"width="920" height="360" alt="" />
        <span>
        <big>Strike Back.</big><br />
        Strike Back
        </span>
        </a>
        <a href="#"><img src="{% static "images/slide2.jpg" %}" width="920" height="360" alt="" />
        <span>
        <big>Powell's Cannon</big><br />
        Strike back season 4
        </span>
        </a>
        <a href="#"><img src="{% static "images/slide3.jpg" %}" width="920" height="360" alt="" />
        <span>
        <big>Judge Dredd 3D.</big><br />
        2009
        </span>
        </a>
        </div>
      <div style="clear:both"></div>
      </div>
  </div>
</div>
{% endblock %}

{% block middle_section %}
<div class="wrapper col2">
	
	<div id="container" class="clear">
  {% block tabs_section %}
    <!-- ####################################################################################################### -->
    <div id="tabcontainer">
      <ul id="tabnav">
        <li><a href="#tabs-1">About</a></li>
        
        
        
        
      </ul>
      <div id="tabs-1" class="tabcontainer">
        <div id="content">
          <h1>Welcome to The South African Stunt and Stunt Riggers Association (SASSRA)</h1>
          <img class="imgr" src="{% static "images/demo/imgr.gif" %}" alt="" width="125" height="125" />
          <p>SASSRA is an association of professionals that work in the film and television industry within South Africa. These professionals have worked on many International productions and are available to work anywhere in the world.</p>
          <p></p>
          <img class="imgl" src="{% static "images/logo_flag_only.png" %}" alt="" width="125" height="125" />
          <p>Every member of this site has been screened and approved by SASSRA.</p>
          <p>Using this online resource you will be able to view all the members of SASSRA and their up to date profiles.</p>
          <p>Urnaretiumorci orci <strong>fauctor leo justo nulla cras ridiculum</strong> eu id vitae. Etnon et dolor auctor eu loreet fring temper pend pede integestibus.</p>
          <p>Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.</p>
        </div>
        <div id="column">
          <div id="featured">
            <ul>
              <li>
                <h2>The Boardmembers</h2>
                <p class="imgholder"><img src="{% static "images/demo/240x90.gif" %}" alt="" /></p>
                <p>The members of the board include Paul Hampshire, Joe Spilhaus, </p>
                <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      
      
     
      
      
      <!-- ########### -->

      <!-- ########### -->
    </div>
	{% endblock %}
	</div>
</div>
{% endblock %}

{%block footer_section%}

<div class="wrapper">
  <div id="footer" class="clear">
    <div class="footbox">
      <h2>Who is SASSRA</h2>
      <p>SASSRA is an association of professionals that work in the film and television industry within South Africa. These professionals have worked on many International productions and are available to work anywhere in the world.</p>
      <p>Every member of this site has been screened and approved by SASSRA.</p>
      <p>Using this online resource you will be able to view all the members of SASSRA and their up to date profiles.</p>
    </div>
    
    <div class="footbox">
      <h2>Links</h2>
      <ul>
        <li><a href="http://www.pyranhastunts.co.za/" target="_blank">Pyrahna Stunts</a></li>
        <li><a href="http://www.stuntnetwork.co.za/" target="_blank">Stunt Network</a></li>
        <li><a href="http://www.stuntsa.com/" target="_blank">Stunt SA</a></li>
        <li><a href="http://www.stuntco.co.za/" target="_blank">The Stunt Company</a></li>
        <li><a href="http://wiredcam.co.za/" target="_blank">Wired</a></li>
        
        
      </ul>
    </div>
  
  </div>
</div>
{% endblock %}

{%block copyright%}
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a>SASSRA</a></p>
    <p class="fl_right">Website by <a href="vectordesign.co.za">Scribe Software</a></p>
  </div>
</div>
{% endblock %}
</body>
</html>

