{% extends "gutter.html" %}


{% load static %}


{% block top_bar_section %}
<div class="wrapper col1">
  <div id="topbar" class="clear">
    <ul id="topnav">
      <li><a href="index.html">Home</a></li>
      <!--<li><a href="#">Link #2</a></li>-->
      <!--<li><a href="#">Link #3</a></li>-->
      <li><a href="#">DropDown</a>
        <ul>
          <li><a href="#">Sub Link 1</a></li>
          <li><a href="#">Sub Link 2</a></li>
          <li><a href="#">Sub Link 3</a></li>
        </ul>
      </li>
      <li class="active"><a href="landing_page.html">Landing Page</a></li>
      <li><a href="gallery.html">Gallery</a></li>
     <li><a href="user_profile.html">User Profile</a></li>
    </ul>
    <form action="#" method="post" id="search">
      <fieldset>
        <legend>Site Search</legend>
        <input type="text" placeholder="Search Our Website&hellip;" />
        <input type="image" id="go" src="{% static "images/search.gif" %}" alt="Search" %}" %}" />
      </fieldset>
    </form>
  </div>
  <br clear="all" style="margin:0; line-height:0; padding:0;"/>
</div>
{% endblock %}

{% block content %}
<div class="wrapper col1" id="slider_box">
  <div class="slider">
        <div id="coin-slider">
        <a href="#"><img src="{% static "images/slide1.jpg" %}"width="920" height="360" alt="" />
        <span>
        <big>Sed condimentum justo sit amet urna ornare euismod.</big><br />
        Tusce nec iaculis risus hasellus nec sem sed tellus malesuada porttitor. Mauris scelerisque feugiat ante in vulputate. Nam sit amet ullamcorper tortor. Phasellus posuere facilisis cursus. Nunc est lorem, dictum at scelerisque sit amet, faucibus et est. Proin mattis ipsum quis arcu aliquam molestie.
        </span>
        </a>
        <a href="#"><img src="{% static "images/slide2.jpg" %}" width="920" height="360" alt="" />
        <span>
        <big>Amet urna ornare euismodSed condimentum.</big><br />
        Tusce nec iaculis risus hasellus nec sem sed tellus malesuada porttitor. Mauris scelerisque feugiat ante in vulputate. Nam sit amet ullamcorper tortor. Phasellus posuere facilisis cursus. Nunc est lorem, dictum at scelerisque sit amet, faucibus et est. Proin mattis ipsum quis arcu aliquam molestie.
        </span>
        </a>
        <a href="#"><img src="{% static "images/slide3.jpg" %}" width="920" height="360" alt="" />
        <span>
        <big>Sed condimentum justo sit amet urna ornare euismod.</big><br />
        Tusce nec iaculis risus hasellus nec sem sed tellus malesuada porttitor. Mauris scelerisque feugiat ante in vulputate. Nam sit amet ullamcorper tortor. Phasellus posuere facilisis cursus. Nunc est lorem, dictum at scelerisque sit amet, faucibus et est. Proin mattis ipsum quis arcu aliquam molestie.
        </span>
        </a>
        </div>
      <div style="clear:both"></div>
      </div>
  </div>
</div>
{% endblock %}

{% block middle_section %}
<div class="wrapper col2">
	
	<div id="container" class="clear">
  {% block tabs_section %}
    <!-- ####################################################################################################### -->
    <div id="tabcontainer">
      <ul id="tabnav">
        <li><a href="#tabs-1">Tab #1</a></li>
        <li><a href="#tabs-2">Tab #2</a></li>
        <li><a href="#tabs-3">Tab #3</a></li>
        <li><a href="#tabs-4">Tab #4</a></li>
        <li><a href="#tabs-5">Tab #5</a></li>
      </ul>
      <div id="tabs-1" class="tabcontainer">
        <div id="hpage_services" class="clear">
          <div class="block"><img src="{% static "images/demo/46x46.gif" %}" alt="" /><strong>Lorum ipsum dolor</strong>
            <p>Metuervestas mus lacinia hendrerit accumsan pretium ligula estibulum ipsum tor lobortortis. <a href="#">Lorum ipsum dolor</a>Lorum ipsum dolor <a href="#">Lorum ipsum dolor</a>.</p>
          </div>
          <div class="block"><img src="{% static "images/demo/46x46.gif" %}" alt="" /><strong>Lorum ipsum dolor</strong>
            <p>Metuervestas mus lacinia hendrerit accumsan pretium ligula estibulum ipsum tor lobortortis. Feugiatdui et semper pellentum id in et phase llentum hac tellus dui condimentegettur eget.</p>
          </div>
          <div class="block last"><img src="{% static "images/demo/46x46.gif" %}" alt="" /><strong>Lorum ipsum dolor</strong>
            <p>Lorum ipsum dolor <a href="#">Lorum ipsum dolor</a>. Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum.</p>
          </div>
          <div class="spacer">&nbsp;</div>
          <div class="block"><img src="{% static "images/demo/46x46.gif" %}" alt="" /><strong>Lorum ipsum dolor</strong>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
          </div>
          <div class="block"><img src="{% static "images/demo/46x46.gif" %}" alt="" /><strong>Lorum ipsum dolor</strong>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
          </div>
          <div class="block last"><img src="{% static "images/demo/46x46.gif" %}" alt="" /><strong>Lorum ipsum dolor</strong>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
          </div>
        </div>
      </div>
      <!-- ########### -->
      <div id="tabs-2" class="tabcontainer">
        <h2 class="title">Lorum ipsum dolor at mattis vol utpat gravida nunc.</h2>
        <ul class="line clear">
          <li>
            <div class="imgholder"><a href="#"><img src="{% static "images/demo/280x160.gif" %}" alt="" /></a></div>
            <p class="name">Metuervestas mus lacinia</p>
            <p class="readmore"><a href="#">View This Project &raquo;</a></p>
          </li>
          <li>
            <div class="imgholder"><a href="#"><img src="{% static "images/demo/280x160.gif" %}" alt="" /></a></div>
            <p class="name">Metuervestas mus lacinia</p>
            <p class="readmore"><a href="#">View This Project &raquo;</a></p>
          </li>
          <li class="last">
            <div class="imgholder"><a href="#"><img src="{% static "images/demo/280x160.gif" %}" alt="" /></a></div>
            <p class="name">Metuervestas mus lacinia</p>
            <p class="readmore"><a href="#">View This Project &raquo;</a></p>
          </li>
        </ul>
      </div>
      <!-- ########### -->
      <div id="tabs-3" class="tabcontainer">
        <div id="hpage_portfolio" class="clear">
          <div class="fl_left">
            <div id="portfolioslider">
              <ul>
                <li><img src="{% static "images/demo/portfolioslider/1.gif" %}" alt="" /></li>
                <li><img src="{% static "images/demo/portfolioslider/2.gif" %}" alt="" /></li>
                <li><img src="{% static "images/demo/portfolioslider/3.gif" %}" alt="" /></li>
                <li><img src="{% static "images/demo/portfolioslider/4.gif" %}" alt="" /></li>
                <li><img src="{% static "images/demo/portfolioslider/5.gif" %}" alt="" /></li>
              </ul>
            </div>
          </div>
          <div class="fl_right">
            <h2>Metuervestas mus lacinia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollici tudin elementum nulla, quis pellentesque nisi ullamcorper non.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Aliquam vestibulum dui eget augue mattis eget posuere.</li>
              <li>Integer vel enim nisl, non malesuada nibh.</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollici tudin elementum nulla, quis pellentesque nisi ullamcorper non.</p>
            <p class="readmore"><a href="#">View The Full Project &raquo;</a></p>
          </div>
        </div>
      </div>
      <!-- ########### -->
      <div id="tabs-4" class="tabcontainer">
        <h2>Full Width Content</h2>
        <p>Lornunc tincidunt nec nequat risus convallisis elit vestiquat justo et volutpat. Urnanec monterdum turistibus semportis non vivamus justo pellus ac integestiquat eros. Turet cursuspend ero nulla dapienteger quisque nullamcorper lorem in ut pellus. Auctortorvel habitudin laorem commodo tincidunt eget habitur vitae aenec sentesque maecenasce. Nibhvivamus pretra cursuspendrerit pede ligula leo quismod condimentesque aenean ligula ipsum.</p>
        <p>Atmaecenas nec non nam nullamcorper magna id id nisl ac in. Sedfauctortis fuscetus estibus gravida id dui curabitur commodo facilisi loborttitorttitor vitae. Tortortissagittitortis diam vel hac nibh justo sed semper eget vitassa mattis. Aliquerhoncus tempus vest ulla justo pellus in aliquet in sed aucibulum. Odioelit tincidunt laorem venean tris vitae magna ut vel urnar vestibulus.</p>
      </div>
      <!-- ########### -->
      <div id="tabs-5" class="tabcontainer">
        <div id="content">
          <h1>This uses the 2 column layout found in the style demo</h1>
          <img class="imgr" src="{% static "images/demo/imgr.gif" %}" alt="" width="125" height="125" />
          <p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>
          <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>
          <img class="imgl" src="{% static "images/demo/imgl.gif" %}" alt="" width="125" height="125" />
          <p>Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet. Nullain convallis ris <a href="#"><strong>elis vest liberos nis diculis</strong></a> feugiat in rutrum. Suspendreristibulumfaucibulum lobortor quis tortortor ris sapien sce enim et volutpat sus.</p>
          <p>Urnaretiumorci orci <strong>fauctor leo justo nulla cras ridiculum</strong> eu id vitae. Etnon et dolor auctor eu loreet fring temper pend pede integestibus.</p>
          <p>Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.</p>
        </div>
        <div id="column">
          <div id="featured">
            <ul>
              <li>
                <h2>Indonectetus facilis leonib</h2>
                <p class="imgholder"><img src="{% static "images/demo/240x90.gif" %}" alt="" /></p>
                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
                <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- ########### -->
    </div>
	{% endblock %}
	</div>
</div>
{% endblock %}

{%block footer_section%}

<div class="wrapper">
  <div id="footer" class="clear">
    <div class="footbox">
      <h2>Heading</h2>
      <p>Lornunc tincidunt nec nequat risus convallisis elit vestiquat justo et volutpat. Urnanec monterdum turistibus semportis non vivamus justo pellus ac integestiquat eros. Turet cursuspend ero nulla dapienteger quisque nullamcorper lorem in ut pellus.</p>
      <p>Atmaecenas nec non nam nullamcorper magna id id nisl ac in. Sedfauctortis fuscetus estibus gravida id dui curabitur commodo facilisi loborttitorttitor vitae.</p>
    </div>
    <div class="footbox">
      <h2>Heading</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor sit</a></li>
        <li><a href="#">Amet consectetur</a></li>
        <li><a href="#">Praesent vel sem id</a></li>
        <li><a href="#">Curabitur hendrerit est</a></li>
        <li><a href="#">Aliquam eget erat nec sapien</a></li>
        <li><a href="#">Cras id augue nunc</a></li>
        <li><a href="#">In nec justo non</a></li>
        <li><a href="#">Vivamus mollis enim ut</a></li>
        <li class="last"><a href="#">Sed a nulla urna</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Heading Links</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor sit</a></li>
        <li><a href="#">Amet consectetur</a></li>
        <li><a href="#">Praesent vel sem id</a></li>
        <li><a href="#">Curabitur hendrerit est</a></li>
        <li><a href="#">Aliquam eget erat nec sapien</a></li>
        <li><a href="#">Cras id augue nunc</a></li>
        <li><a href="#">In nec justo non</a></li>
        <li><a href="#">Vivamus mollis enim ut</a></li>
        <li class="last"><a href="#">Sed a nulla urna</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>Heading Links</h2>
      <ul>
        <li><a href="#">Facebook page</a></li>
        <li><a href="#">Latest Tweets</a></li>
        <li><a href="#">Mail</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
      <h2>Contact Us</h2>
      <ul><form action="#" method="post">
        <li style="border-bottom:none;"><strong class="title">Name:</strong><br />
          <input type="text" required/></li>
        <li style="border-bottom:none;"><strong class="title">Email:</strong><br />
          <input type="email" required/></li>
          <li style="border-bottom:none;"><input type="submit" /></li>
       </form></ul>
    </div>
  </div>
</div>
{% endblock %}

{%block copyright%}
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Website by <a href="#" title="Vector Design">Vector Design</a></p>
  </div>
</div>
{% endblock %}
</body>
</html>

